{%extends 'base_home.html'%}

{% block content %}
	<div id="advertiser" class="container-fluid">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<h3 class="muted">Advertisers FAQ</h3>
				<p class="text-info">
				Sign up as an Advertiser today!<br>
				All you have to do is compose your first advertising campaign, then click on complete and submit the Advertiser Sign-Up Form to get accepted. Good Luck & Enjoy!
				</p>
				<h5>Payment Methods:</h5>
				<small><ul><li>Paypal</li><li>Alertpay</li></ul></small>
				
				<dl>
					<dt>How much does it cost to advertise with MyMedia.com ?</dt>
					<dd>You alone choose how much to pay for advertising. You are in full control of bids and you can specify the budget and its timeframe and spending. For example, you set daily budget limits and even the specific maximum bid you are ready to pay per click. Keep in mind that higher the bid, the better position you get on our Publisher network partners' websites.</dd>
				</dl>
				<dl>
					<dt>What is the minimum deposit you should start with?</dt>
					<dd>Once you open an Advertiser account, you should add a minimum deposit of $10 initially to start advertising on MyMedia.com. You do not have time limits to spend your budget. Payments are done through PayPal, AlertPay or Bank wire transfer and the main currency accepted into MyMedia.com is U.S. Dollars.</dd>
				</dl>
				<dl>
					<dt>Where are my ads being displayed?</dt>
					<dd>Your advertising will be displayed on the Publishers' websites within MyMedia.com PPC network. Our system algorithms will analyze the content of advertising and display it on the proper contextually related website within MyMedia.com network.</dd>
				</dl>
				<dl>
					<dt>How much time does it take for my ads to be displayed?</dt>
					<dd>Once signed up with MyMedia.com you can set up your initial advertising campaign. Usually your ad campaingn/s will be approved immediately. The ads will be displayed right away after approval on our publishers' websites. Whether the campaigns are instantly approved depends on whether you have met the following requirements:
						<h5 class="text-info">Your account should have enough of a balance for the chosen campaign.</h5>
						<h5 class="text-info">You specify a date range for your campaign/s and when they should be delivered. Please make sure the date you specify is the current or a future date. If you select a date in the past, your advertising will not appear online.</h5>
						<h5 class="text-info">The Minimum CPC Bid you bid should be equal to or higher than other advertisers who are bidding in the same contextual category. You can check what is appropriate to bid by clicking the link : "View Recommended CPC." Then you may bid the same or higher amount than the suggested bid.</h5>
						Once your ad campaign/s meet all the 3 requirements then your ads should immediately be displayed on MyMedia.com Publishers network websites.
					</dd>
				</dl>
				<dl>
					<dt>What Advertising methods can I use?</dt>
					<dd>Channels (also referred to as Zones) are used to segment your service. For example, a content advertising network could segment its network into content classes. A search engine could segment its offerings to Featured Results (top), Sponsored Results (side), and Highlighted Results (bottom).</dd>
				</dl>
				<button type="submit" class="btn btn-primary" onclick="showPopup()">Advertiser Sign Up</button>
				<p class="text-right text-info">&copy; 2013 MyMedia Inc.</p>
			</div>
		</div>
	</div>
	<!-----------------advertiser--------------->

{% endblock %}