{%extends 'base_home.html'%}

{% block content %}
	<div id="contact" class="container-fluid">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				
					<h2 class="muted">Contact us at:</h2><br><br>
						<div class=row>
							<div class="span2" ></div>
							<div class="span4">
								<h4 class="text-info">Email</h4>
								<h5 class="muted">khuntronak@gmail.com</h5>
								<h4 class="text-info">Skype</h4>
								<h5 class="muted">khuntronak</h5>
								<h4 class="text-info">Follow me</h4>
								<h5 class="muted">https://twitter.com/ronakkhunt</h5>
							</div>
							<div class="span2" ></div>
							<div class="span4">
								<h4 class="text-info">Email</h4>
								<h5 class="muted">parvez_patel@gmail.com</h5>
								<h4 class="text-info">Skype</h4>
								<h5 class="muted">parvezpatel</h5>
								<h4 class="text-info">Follow me</h4>
								<h5 class="muted">https://twitter.com/parvezspatel</h5>
							</div>
						</div>
					
			</div>
		</div>
		<p class="text-right text-info">&copy; 2013 MyMedia Inc.</p>
	</div>


{% endblock %}