<div class="row">
		<div class="span1"></div>	
		<div class="span11">
			<div class="navbar-inner">
					<ul class="nav nav-pills">
					<li id="nav-home" >
						<a href="/home/" >Home</a>	
					</li>
					<li id="nav-login"><a href="/login/" >Login</a></li>    
					<li id="nav-advertiser"><a href="/advertiser/" >Advertiser</a></li>    
					<li id="nav-publisher"><a  href="/publisher/" >Publisher</a></li>    
					<li id="nav-contact" ><a  href="/contactus/">Contact Us</a></li>
					<li></li><li></li><li></li><li></li>
					<li id="nav-signup" ><a href="/signup/">Sign Up</a></li>
					</ul>
			</div>
		</div>
	</div>